name: Biome

on:
  pull_request:
    branches:
      - main

jobs:
  Check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Format Check
        run: npx @biomejs/biome format

      - name: Lint Check
        run: npx @biomejs/biome lint
